.image_section {
    width: 100vw;
    height: 600px;
}

.image_container {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

.image_frame {
    width: 500px;
    height: 500px;
    display: flex;
}

.image_frame:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}

.image_one {
    background-image: url("../Images/b3ff3accc46377d013a80eb9519c8c1c.jpg");
    background-size: cover;
    background-position: center;
}

.image_two {
    background-image: url("../Images/rob.jpg");
    background-size: cover;
}

.image_three {
    background-image: url("../Images/flat,1000x1000,075,f.jpg");
    background-size: cover;
}

.text_box {
    display: flex;
    width: 500px;
    height: 100px;
    background-color: lightgray;
    align-self: flex-end;
    justify-content: flex-start;
}   